[Unit]
Description=Intenet logging



[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/speed/
ExecStart=/usr/bin/python3 speed_log.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=<speed_log>
