[Unit]
Description=Intenet logging

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/speed_log.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=<speed_log>
